[Unit]
Description=Daisytuner Runner Downloader
After=network.target
StartLimitIntervalSec=60
StartLimitBurst=30

[Service]
Type=simple
Restart=on-failure
User=root
ExecStart=/var/lib/daisytuner/runner-dl/current/dist/runner-dl.js
EnvironmentFile=/var/lib/daisytuner/runner-dl/env
TimeoutStopSec=125min
TimeoutStopFailureMode=kill
RestartSec=10


[Install]
WantedBy=multi-user.target

